footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
  }

  footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }

  footer a:hover {
    text-decoration: underline;
  }
  