
.checkbox {
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 9999;
  }
    .hovered .checkbox{
    display: block;
    cursor: pointer;
    content: ' ';
    position: absolute;
    background-color: rgba(163, 163, 163, 0.356); 
    top: 0;
    left: 0;
    right: 0px;
    bottom: 0;
    display: block; 
    z-index: 9;
    border-radius: 5px;
  }
  .hovered .checkbox:active{
    background-color: transparent;
    display: none;
  }
  .checkbox-input{
    width: 20px;
    height: 20px;
    margin-top: 25px;
    margin-left: 25px;
  }
  .Getimage-container{
    border:2px solid rgba(128, 128, 128, 0.397);
    border-radius: 5px;
    height: 200px;
  }
  .Getimage-container:hover::before {
    content: ' ';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5); 
    top:0;
    left: 0;
    right: 0px;
    bottom: 0px;
    display: block;
    z-index: 9;
    border-radius: 5px;
  
  }
  .Getimage-container:active::before {
    background-color: transparent; 
  
  }
  

  @media screen and (max-width: 992px) {
    .Getimage-container{
      height: 180px;
    }
    .checkbox-input{
      width: 18px;
      height: 18px;
      margin-top: 20px;
      margin-left: 20px;
    }
  }
  @media screen and (max-width: 767px) {
    .Getimage-container{
      height: 160px;
    }
    .checkbox-input{
      margin-top: 12px;
      margin-left: 12px;
    }
  }
  @media screen and (max-width: 576px) {
    .checkbox-input{
      width: 20px;
      height: 20px;
      margin-top: 16px;
      margin-left: 16px;
    }
  }
  @media screen and (max-width: 350px) {
    .checkbox-input{
      width: 18px;
      height: 18px;
      margin-top: 10px;
      margin-left: 10px;
    }
  }