/* -----------------******************--------------- */
.gallery-title{
  border-bottom: 1px solid rgba(128, 128, 128, 0.397);
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gallery-title h1,h3{
  padding: 0;
  margin: 0;
  font-size: 22px;
}
.gallery-title a{
  color: red;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.grid-wrapper {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(5,1fr);
  padding: 40px 0;
}
.image-container {
  position: relative;
}
.grid-wrapper .image-container:first-child {
  grid-column: span 2; 
  grid-row: span 2; 
  overflow: hidden;
  border:1px solid rgba(128, 128, 128, 0.397);
  border-radius: 5px;
}
.grid-wrapper .image-container:first-child img{
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

}
.image-container img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
}


/* ---------------responsive--------------- */

@media screen and (max-width: 992px) {
  .grid-wrapper {
    grid-template-columns: repeat(4,1fr);

  } 
}
@media screen and (max-width: 576px) {
  .grid-wrapper {
    grid-template-columns: repeat(3,1fr);

  } 
}
@media screen and (max-width: 480px) {
  .grid-wrapper {
    grid-template-columns: repeat(2,1fr);

  } 
}
@media screen and (max-width: 300px) {
  .grid-wrapper {
    grid-template-columns: repeat(2,1fr);

  } 
  .gallery-title h1, h3 {
    font-size: 16px;
  }
}