.drop-zone {
    border: 2px dashed #cccccc; 
    background-color: #f9f9f9;
    border-radius: 5px;
    height: 195px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* Styling the file input */
input[type="file"] {
 width: 98%;
 display: block;
 margin: auto;

}

.img-btn{
  background: transparent;
  font-weight: 600;
  border: 0;
  margin-top: 15px;
  margin-bottom: 8px;
  cursor: pointer;
}


.selected-images-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
}

.selected-image {
  max-width: 40px; 
  max-height: 40px; 
  object-fit: cover; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
}

@media screen and (max-width: 992px) {
  .drop-zone{
    height: 180px;
  }
}
@media screen and (max-width: 767px) {
  .drop-zone{
    height: 160px;
  }
}